body {
 background: rgb(27, 121, 235);
 font: normal 16pt Arial
}

header{
color:  #ffffff;
text-align: center;
font: normal 16px Arial;
}

section{

padding: 15px;
width: 280px;
height: 350px;
margin: auto;

}

div{
font: normal 16px Arial;
color:#ffca4f;
padding-top: 10px;

}
input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #daa21e;    
    font-weight: 800;
    border-radius: 10px;
    border-color: #ffffff;
}
.botão{
    background-color: rgb(14, 99, 179);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color: #ffb300;
    border-radius: 12px;
    border-color: #ffffff;
   
}

img{
    width: 150px;
    height: 150px;
    padding-left: 65px;
    padding-top: 15px;
    border-radius: 50%;

}
footer{
color: rgb(28, 150, 221);
text-align: center;
font-style: italic;
font-weight: bold;
}
.imgstyle{
    padding-left: 70px;
    padding-top: 15px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

.end{
    margin-left: 47px;
}